<% include ./../partials/header %>
    <div class="container">
        <div class="row">
             <div class="col-md-3">
                 <p class="lead">YelpCamp</p>
                 <div class="list-group">
                     <li class="list-group-item active">list 1</li>
                     <li class="list-group-item">list 2</li>
                     <li class="list-group-item">list 3</li>
                 </div>
             </div>
             <div class="col-md-9">
                 <div class="thumbnail">
                      <img class="img-responsive" src="<%= campground.image %>">
                 </div>
                
                 <h4 class="pull-right">$9.00/night</h4>
                 <h4><a><%= campground.name %></a></h4>
                 <a class="btn btn-warning" href='/campgrounds/<%= campground._id %>/edit'>Edit Campground</a>
                 <form action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST" style="display:inline">
                        <button class="btn btn-danger">Delete Campground</button>
                 </form>
                 <hr>
                 <div>
                     <p>
                        <%= campground.description %>
                     </p>
                     <em>Created by <%= campground.author.username %></em>
                 </div>
                 <div class="well">
                      <a class="btn btn-success pull-right" href="/campgrounds/<%= campground.id %>/comments/new">add comment</a>
                      <br><br>
                       <hr>
                       <% campground.comments.forEach(function(comment){ %>
                           <p>
                              <p class="pull-right">10 days ago</p>
                              <strong><%= comment.author.username %></strong>
                              <p> <%= comment.text %></p>
                           </p>
                           <hr>
                       <%})%>
                 </div>
             </div>
        </div>
    </div>
            
               
      

   <p><a class="btn btn-primary" href="/">go back</a></p>

    
<% include ./../partials/footer %>







